<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.2.xsd">

  <menuitem title="GST MODULE" name="menu-gst-main-module"
    icon-background="blue" icon="fa-money" />

  <!-- DASHBOARD -->
  <menuitem title="DASHBOARD" name="menu-gst-module-dashboard"
    parent="menu-gst-main-module" order="-90" />

  <!--MAIN PARTY -->
  <menuitem title="Party" name="menu-party-main-all" parent="menu-gst-module"
    icon="fa-handshake-o" icon-background="purple" />

    <!-- Menu party -->
    <menuitem title="Party" name="menu-party-all" parent="menu-party-main-all" action="menu-action-view-party-all" />

    <action-view name="menu-action-view-party-all" title="Party" model="com.axelor.gst.db.Party">
    <view type="grid" name="party-grid"/>
    <view type="form" name="party-form"/>
    <view type="cards" name="party-card"/>
    </action-view>


    <!--  Menu Contact -->
    <menuitem title="Contact" name="menu-contact-all" parent="menu-party-main-all" action="menu-action-view-contact-all" />

    <action-view name="menu-action-view-contact-all" title="Contact">
    <view type="grid" name="contact-grid"/>
    <view type="form" name="contact-form"/>
    </action-view>


    <!--MAIN   Menu  Configurations-->
    <menuitem title="Configurations" name="menu-configurations-main-all" parent="menu-party-main-all" />

    <!--  Menu  Address-->
    <menuitem title="Address" name="menu-address-all" parent="menu-configurations-main-all" action="menu-action-view-address-all" />

    <action-view name="menu-action-view-address-all" title="Address">
    <view type="grid" name="address-grid"/>
    <view type="form" name="addres-form"/>
    </action-view>


    <!--  Menu  City-->
    <menuitem title="City" name="menu-city-all" parent="menu-configurations-main-all" action="menu-action-view-city-all" />

    <action-view name="menu-action-view-city-all" title="City">
    <view type="grid" name="city-grid"/>
    <view type="form" name="city-form"/>
    </action-view>


    <!--  Menu  State-->
    <menuitem title="State" name="menu-state-all" parent="menu-configurations-main-all" action="menu-action-view-state-all" />

    <action-view name="menu-action-view-state-all" title="State">
    <view type="grid" name="state-grid"/>
    <view type="form" name="state-form"/>
    </action-view>

</object-views>
