<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<object-views xmlns="http://axelor.com/xml/ns/object-views"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://axelor.com/xml/ns/object-views http://axelor.com/xml/ns/object-views/object-views_5.2.xsd">

  <!-- Main Menu -->
  <menuitem title="GST MODULE" name="menu-gst-main-module"
    icon-background="blue" icon="fa-money" />

  <!--Main Menu DASHBOARD -->
  <menuitem title="DASHBOARD" name="menu-gst-module-dashboard"
    icon="fa-dashboard" parent="menu-gst-main-module" action="dashboard.gst.all"
    order="-90" />

  <action-view name="dashboard.gst.all" title="Dashboard"
    model="com.axelor.gst.db.Invoice" home="true">
    <view type="dashboard" name="dashboard-gst-main" />
  </action-view>

  <!--MAIN PARTY -->
  <menuitem title="Party" name="menu-party-main-all" parent="menu-gst-main-module"
    icon="fa-handshake-o" />

  <!-- Menu party -->
  <menuitem title="Party" name="menu-party-all" parent="menu-party-main-all"
    action="menu.action.view.party.all" />

  <action-view name="menu.action.view.party.all" title="Party"
    model="com.axelor.gst.db.Party">
    <view type="grid" name="party-grid" />
    <view type="form" name="party-form" />
    <view type="cards" name="party-card" />
  </action-view>

  <!-- Menu Contact -->
  <menuitem title="Contact" name="menu-contact-all" parent="menu-party-main-all"
    action="menu.action.view.contact.all" />

  <action-view name="menu.action.view.contact.all" model="com.axelor.gst.db.Contact"
    title="Contact">
    <view type="grid" name="contact-grid" />
    <view type="form" name="contact-form" />
  </action-view>

  <!--MAIN Menu Configurations -->
  <menuitem title="Configurations" name="menu-configurations-main-all"
    parent="menu-party-main-all" />

  <!--Menu Address -->
  <menuitem title="Address" name="menu-address-all" parent="menu-configurations-main-all"
    action="menu.action.view.address.all" />

  <action-view name="menu.action.view.address.all" title="Address"
    model="com.axelor.gst.db.Address">
    <view type="grid" name="address-grid" />
    <view type="form" name="address-form" />
  </action-view>

  <!-- Menu City -->
  <menuitem title="City" name="menu-city-all" parent="menu-configurations-main-all"
    action="menu.action.view.city.all" />

  <action-view name="menu.action.view.city.all" title="City"
    model="com.axelor.gst.db.City">
    <view type="grid" name="city-grid" />
    <view type="form" name="city-form" />
  </action-view>

  <!-- Menu State -->
  <menuitem title="State" name="menu-state-all" parent="menu-configurations-main-all"
    action="menu.action.view.state.all" />

  <action-view name="menu.action.view.state.all" title="State"
    model="com.axelor.gst.db.State">
    <view type="grid" name="state-grid" />
    <view type="form" name="state-form" />
  </action-view>

  <!-- Menu Country -->
  <menuitem title="Country" name="menu-country-all" parent="menu-configurations-main-all"
    action="menu.action.view.country.all" />

  <action-view name="menu.action.view.country.all" title="Country"
    model="com.axelor.gst.db.Country">
    <view type="grid" name="country-grid" />
    <view type="form" name="country-form" />
  </action-view>


  <!--MAIN Menu Product -->
  <menuitem title="Product" name="menu-product-main-all" parent="menu-gst-main-module"
    icon="fa-product-hunt " />

  <!--Menu Product -->
  <menuitem title="Product" name="menu-product-all" parent="menu-product-main-all"
    action="menu.action.view.product.all" />

  <action-view name="menu.action.view.product.all" title="Product"
    model="com.axelor.gst.db.Product">
    <view type="grid" name="product-grid" />
    <view type="form" name="product-form" />
    <view type="cards" name="product-card" />
  </action-view>

  <!--Menu ProductCategory -->
  <menuitem title="ProductCategory" name="menu-product-category-all"
    parent="menu-product-main-all" action="menu.action.view.product.category.all" />

  <action-view name="menu.action.view.product.category.all"
    title="ProductCategory" model="com.axelor.gst.db.ProductCategory">
    <view type="grid" name="product-category-grid" />
    <view type="form" name="product-category-form" />
  </action-view>


  <!--MAIN Menu Invoice -->
  <menuitem title="Invoice" name="menu-invoice-main-all" parent="menu-gst-main-module"
    icon="fa-files-o" />

  <!--Menu Create Invoice -->
  <menuitem title="Create Invoice" name="menu-create-invoice-all"
    parent="menu-invoice-main-all" action="menu.action.view.create.invoice.all" />

  <action-view name="menu.action.view.create.invoice.all"
    title="Invoice" model="com.axelor.gst.db.Invoice">
    <view type="form" name="invoice-form" />
  </action-view>

  <!--Menu Draft Invoice -->
  <menuitem title="Draft Invoice" name="menu-draft-invoice-all"
    parent="menu-invoice-main-all" action="menu.action.view.draft.invoice.all" />

  <action-view name="menu.action.view.draft.invoice.all"
    title="Draft Invoice" model="com.axelor.gst.db.Invoice">
    <view type="grid" name="invoice-grid" />
    <view type="form" name="invoice-form" />
    <domain>self.statusSelect='draft'</domain>
  </action-view>

  <!--Menu Validated Invoice -->
  <menuitem title="Validated Invoice" name="menu-validated-invoice-all"
    parent="menu-invoice-main-all" action="menu.action.view.validated.invoice.all" />

  <action-view name="menu.action.view.validated.invoice.all"
    title="Validated Invoice" model="com.axelor.gst.db.Invoice">
    <view type="grid" name="invoice-grid" />
    <view type="form" name="invoice-form" />
    <domain>self.statusSelect='validated'</domain>
  </action-view>

  <!--Menu Paid Invoice -->
  <menuitem title="Paid Invoice" name="menu-paid-invoice-all"
    parent="menu-invoice-main-all" action="menu.action.view.paid.invoice.all" />

  <action-view name="menu.action.view.paid.invoice.all"
    title="Paid Invoice" model="com.axelor.gst.db.Invoice">
    <view type="grid" name="invoice-grid" />
    <view type="form" name="invoice-form" />
    <domain>self.statusSelect='paid'</domain>
  </action-view>

  <!--Menu cancelled Invoice -->
  <menuitem title="cancelled Invoice" name="menu-cancelled-invoice-all"
    parent="menu-invoice-main-all" action="menu.action.view.cancelled.invoice.all"></menuitem>

  <action-view name="menu.action.view.cancelled.invoice.all"
    title="Cancelled Invoice" model="com.axelor.gst.db.Invoice">
    <view type="grid" name="invoice-grid" />
    <view type="form" name="invoice-form" />
    <domain>self.statusSelect='cancelled'</domain>
  </action-view>


  <!--Menu All Invoice -->
  <menuitem title="All Invoice" name="menu-all-invoice-all"
    parent="menu-invoice-main-all" action="menu.action.view.all.invoice.all" />

  <action-view name="menu.action.view.all.invoice.all" title="Invoice"
    model="com.axelor.gst.db.Invoice">
    <view type="grid" name="invoice-grid" />
    <view type="form" name="invoice-form" />
    <view type="kanban" name="invoice-kanban" />
  </action-view>

  <!--MAIN Menu Company -->
  <menuitem title="Company" name="menu-company-main-all" parent="menu-gst-main-module"
    icon="fa-industry" />

  <!-- Menu Company -->
  <menuitem title="Company" name="menu-company-all" parent="menu-company-main-all"
    action="menu.action.view.company.all" />

  <action-view name="menu.action.view.company.all" title="Company"
    model="com.axelor.gst.db.Company">
    <view type="grid" name="company-grid" />
    <view type="form" name="company-form" />
  </action-view>

  <!-- Menu BankAccount -->
  <menuitem title="BankAccount" name="menu-bank-account-all"
    parent="menu-company-main-all" action="menu.action.view.bank.account.all" />

  <action-view name="menu.action.view.bank.account.all"
    title="Bank Account" model="com.axelor.gst.db.BankAccount">
    <view type="grid" name="bank-account-grid" />
    <view type="form" name="bank-account-form" />
  </action-view>

  <!-- Menu Sequence -->
  <menuitem title="Sequence" name="menu-sequence-all" parent="menu-company-main-all"
    action="menu.action.view.sequence.all" />

  <action-view name="menu.action.view.sequence.all" title="Sequence"
    model="com.axelor.gst.db.Sequence">
    <view type="grid" name="sequence-grid" />
    <view type="form" name="sequence-form" />
  </action-view>

</object-views>
